<%- layout('layout') -%>
<div class="row">
  <div class="col-lg-4 col-lg-offset-4">
    <% if(message.length>0) { %>
      <div class="alert alert-success alert-dismissible">
        <%- message %>
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      </div>
    <% } %>
    <form method="post">
        <h2 class="form-signin-heading">Add a new Category</h2>
        <div class="form-group">
          <input type="text" name="name" class="form-control" placeholder="Category name" required>
        </div>
        <button class="btn btn-lg btn-success" type="submit">Save</button>
      </form>
  </div>
</div>
