<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">My<span class="fa fa-amazon fa-lg"></span>mazon</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <form class="navbar-form navbar-left" method="post" action="/search">
        <div class="form-group">
          <input type="text" placeholder="Search..." name="q" class="form-control">
        </div>
        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          Categories
          <span class="caret"></span>
        </a>
          <ul class="dropdown-menu">
            <% categories.forEach(function(category){ %>
              <li>
                <a href='/products/<%= category._id %>'>
                  <%= category.name %>
                </a>
              </li>
              <% }); %>
          </ul>
        </li>
        <% if(!user){ %>
          <li>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="fa fa-sign-in fa-lg"></i>
          </a>
            <ul class="dropdown-menu">
              <li><a href="/signup">Signup</a></li>
              <li><a href="/login">Login</a></li>
            </ul>
          </li>
          <% } else { %>
            <li>
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="fa fa-user"></span>&nbsp;
                <%= user.profile.name %>
                <span class="fa fa-caret-down"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/profile">Profile</li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
            <% } %>
      </ul>
    </div>
  </div>
</nav>
