<%- layout('layout') -%>
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4">
      <% if(message.length>0) { %>
        <div class="alert alert-danger alert-dismissible">
          <%- message %>
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
      <% } %>
      <form method="post">
          <h2 class="form-signin-heading">Please sign up</h2>
          <div class="form-group">
            <label for="inputName">Name</label>
            <input type="text" name="name" class="form-control" placeholder="Name" required autofocus>
          </div>
          <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input type="email" name="email" class="form-control" placeholder="Email address" required>
          </div>
          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" name="password" class="form-control" placeholder="Password" required>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
          <button class="btn btn-lg btn-primary" type="submit">Sign up</button>
        </form>
    </div>
  </div>
</div>
